<div class="new-release-tab">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="title">
              <i class="fas fa-plus-circle"></i>
              New Release
            </h4>
          </div>
          <div class="card-body">
            <app-release-form
              [artist]="artist"
              [generateCatalogNumber]="true"
              [showStatus]="true"
              [submitButtonText]="'Save Release'"
              [cancelButtonText]="'Cancel'"
              [loading]="loading"
              (submit)="onFormSubmit($event)"
              (cancel)="onFormCancel()"
              (alertMessage)="onFormAlert($event)">
            </app-release-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>