<!-- Date Range Filter and Actions -->
<div class="row mb-3">
  <div class="col-md-8">
    <app-date-range-filter 
      [compact]="true"
      [loading]="loading"
      (dateRangeChange)="onDateRangeChange($event)"
      (refresh)="onRefresh()">
    </app-date-range-filter>
  </div>
  <div class="col-md-4 d-flex justify-content-end align-items-center">
    <button *ngIf="isAdmin" 
            class="btn btn-primary btn-sm" 
            (click)="navigateToNewRoyalty()"
            title="Add new royalty">
      <i class="fas fa-plus"></i> Add Royalty
    </button>
  </div>
</div>

<app-paginated-table 
  title="Royalties History"
  [data]="royalties"
  [pagination]="pagination"
  [loading]="loading"
  [columns]="royaltiesColumns"
  [showSortableHeaders]="true"
  [sortInfo]="royaltiesSort"
  [responsiveMode]="'financial'"
  (pageChange)="onPageChange($event)"
  (filtersChange)="filtersChange.emit($event)"
  (sortChange)="sortChange.emit($event)">
  
  <ng-template #tableContent let-data>
    <app-royalties-table [royalties]="data" [showHeader]="true"></app-royalties-table>
  </ng-template>
  
</app-paginated-table>