<div class="card">
  <div class="card-header">
    <h5>Balance Summary</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Photo</th>
            <th>Artist</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let artist of artists">
            <td class="cover-cell">
              <img [src]="getProfilePhotoUrl(artist.profile_photo)" 
                   [alt]="artist.name + ' photo'"
                   class="cover-thumbnail">
            </td>
            <td>{{ artist.name }}</td>
            <td class="text-right" style="font-weight:bold;" [ngClass]="getBalanceClass(artist.balance)">
              {{ formatCurrency(artist.balance) }}
            </td>
          </tr>
          <tr *ngIf="artists.length === 0">
            <td colspan="3" class="text-center text-muted">No artists found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-right">
    <a (click)="goToFinancial()" class="btn-ghost" style="cursor: pointer;">
      Go to financial overview <i class="far fa-arrow-alt-circle-right"></i>
    </a>
  </div>
</div>