<div class="card">
  <div class="card-header">
    <h5>Latest releases</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-financial">
        <thead>
          <tr>
            <th class="mobile-hide">Catalog Number</th>
            <th class="tablet-hide">Cover art</th>
            <th class="mobile-text">Artist</th>
            <th class="mobile-text">Title</th>
            <th class="mobile-narrow">Release Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let release of releases">
            <td class="mobile-hide" data-label="Catalog Number">{{ release.catalog_no }}</td>
            <td class="tablet-hide" data-label="Cover art">
              <img 
                [src]="getImageSrc(release.cover_art)" 
                width="50" 
                [alt]="release.title"
                class="img-thumbnail">
            </td>
            <td class="mobile-text" data-label="Artist">{{ release.artist_name }}</td>
            <td class="mobile-text" data-label="Title">{{ release.title }}</td>
            <td class="mobile-narrow" data-label="Release Date">{{ release.release_date | date:'shortDate' }}</td>
          </tr>
          <tr *ngIf="releases.length === 0">
            <td colspan="5" class="text-center text-muted">No releases found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-right">
    <a (click)="goToReleases()" class="btn-link" style="cursor: pointer;">
      Go to releases <i class="far fa-arrow-alt-circle-right"></i>
    </a>
  </div>
</div>