<div class="card">
  <div class="card-header">
    <h5>Latest releases</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Cover</th>
            <th>Catalog Number</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Release Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let release of releases">
            <td class="cover-cell">
              <img 
                [src]="getImageSrc(release.cover_art)" 
                [alt]="release.title"
                class="cover-thumbnail">
            </td>
            <td class="catalog-cell">
              <span class="catalog-number">{{ release.catalog_no }}</span>
            </td>
            <td>{{ release.artist_name }}</td>
            <td class="title-cell">
              <div class="release-title">{{ release.title }}</div>
            </td>
            <td>{{ release.release_date | date:'shortDate' }}</td>
          </tr>
          <tr *ngIf="releases.length === 0">
            <td colspan="5" class="text-center text-muted">No releases found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-right">
    <a (click)="goToReleases()" class="btn-link" style="cursor: pointer;">
      Go to releases <i class="far fa-arrow-alt-circle-right"></i>
    </a>
  </div>
</div>