<div class="row">
  <div class="col-md-8">
    <app-paginated-table 
      title="Users"
      [data]="users"
      [pagination]="usersPagination"
      [loading]="usersLoading"
      [columns]="usersColumns"
      [showSortableHeaders]="true"
      [showActionsColumn]="true"
      [sortInfo]="usersSort"
      (pageChange)="onUsersPageChange($event)"
      (filtersChange)="onUsersFiltersChange($event)"
      (sortChange)="onUsersSortChange($event)">
      <ng-template #actionsContent let-user>
        <a (click)="toggleAdminStatus(user.id)" 
           class="btn btn-link btn-sm"
           [title]="user.is_admin ? 'Remove admin' : 'Make admin'">
          <i class="fa" 
             [class.fa-user-shield]="!user.is_admin" 
             [class.fa-user-times]="user.is_admin"
             [class.text-success]="!user.is_admin"
             [class.text-danger]="user.is_admin"></i>
        </a>
      </ng-template>
    </app-paginated-table>
  </div>

  <div class="col-md-4">
    <app-paginated-table 
      title="Recent Login Attempts"
      [data]="loginAttempts"
      [pagination]="loginAttemptsPagination"
      [loading]="loginAttemptsLoading"
      [columns]="loginAttemptsColumns"
      [showSortableHeaders]="true"
      [sortInfo]="loginAttemptsSort"
      (pageChange)="onLoginAttemptsPageChange($event)"
      (filtersChange)="onLoginAttemptsFiltersChange($event)"
      (sortChange)="onLoginAttemptsSortChange($event)">
    </app-paginated-table>
  </div>
</div>