<div class="login-wrapper fadeInDown">
  <!-- Form Header with Brand Logo -->
  <div id="formHeader" [style.background-color]="brandColor">
    <div class="fadeIn first">
      <img [src]="brandLogo" id="icon" [alt]="brandName" />
    </div>
  </div>

  <!-- Form Content -->
  <div id="formContent">
    <!-- Alert -->
    <div class="alert alert-danger" role="alert" *ngIf="messageType === 'error'">
      {{ message }}
    </div>
    
    <div *ngIf="messageType === 'success'">
      <h5><strong>Password reset link sent! 💌</strong></h5>
      <p>Please check your email and access the link to reset your password. You may now close this window.</p>
    </div>
    
    <div *ngIf="messageType !== 'success'">
      <h4><strong>Forgot your password? 🔑</strong></h4>
      <h6 class="text-muted"><strong>Don't worry, we'll fix this for you!</strong></h6>
      &nbsp;
      <small class="text-muted">Please input the email address associated with your account so we can send you a link to reset your password.</small>
      
      <form (ngSubmit)="onSubmit()" #forgotForm="ngForm" novalidate>
        <input 
          type="email" 
          id="email" 
          class="fadeIn second" 
          name="email" 
          placeholder="Email address" 
          [(ngModel)]="email"
          [disabled]="loading"
          required
        >
        <input 
          type="submit" 
          class="fadeIn fourth btn btn-primary btn-block" 
          style="margin-top:10px;" 
          [value]="loading ? 'Sending...' : 'Send Password Reset Link'"
          [disabled]="loading || !email"
        >
      </form>
    </div>
  </div>

  <!-- Form Footer -->
  <div id="formFooter">
    <a class="" (click)="goToLogin()">Back to login</a>
  </div>
</div>