<!-- Date Range Filter -->
<div class="row mb-3">
  <div class="col-md-12">
    <app-date-range-filter 
      [compact]="true"
      [loading]="loading"
      (dateRangeChange)="onDateRangeChange($event)"
      (refresh)="onRefresh()">
    </app-date-range-filter>
  </div>
</div>

<app-paginated-table 
  title="Earnings History"
  [data]="earnings"
  [pagination]="pagination"
  [loading]="loading"
  [columns]="earningsColumns"
  [showSortableHeaders]="true"
  [sortInfo]="earningsSort"
  [responsiveMode]="'financial'"
  (pageChange)="onPageChange($event)"
  (filtersChange)="filtersChange.emit($event)"
  (sortChange)="sortChange.emit($event)">
  
  <ng-template #customButtons>
    <button class="btn btn-secondary btn-sm" 
            (click)="downloadCSV()"
            [disabled]="downloadingCSV"
            title="Download earnings as CSV">
      <i class="fas fa-download" *ngIf="!downloadingCSV"></i>
      <i class="fas fa-spinner fa-spin" *ngIf="downloadingCSV"></i>
      CSV
    </button>
    <button *ngIf="isAdmin" 
            class="btn btn-primary btn-sm" 
            (click)="navigateToNewEarning()"
            title="Add new earning">
      <i class="fas fa-plus"></i> Add
    </button>
  </ng-template>
  
  <ng-template #tableContent let-data>
    <app-earnings-table [earnings]="data" [showHeader]="true"></app-earnings-table>
  </ng-template>
  
</app-paginated-table>