<!-- Date Range Filter -->
<div class="row mb-3">
  <div class="col-md-12">
    <app-date-range-filter 
      [compact]="true"
      [loading]="loading"
      (dateRangeChange)="onDateRangeChange($event)"
      (refresh)="onRefresh()">
    </app-date-range-filter>
  </div>
</div>

<app-paginated-table 
  title="Royalties History"
  [data]="royalties"
  [pagination]="pagination"
  [loading]="loading"
  [columns]="royaltiesColumns"
  [showSortableHeaders]="true"
  [sortInfo]="royaltiesSort"
  [responsiveMode]="'financial'"
  [headerActions]="headerActions"
  (pageChange)="onPageChange($event)"
  (filtersChange)="filtersChange.emit($event)"
  (sortChange)="sortChange.emit($event)">
  
  
  <ng-template #tableContent let-data>
    <app-royalties-table [royalties]="data" [showHeader]="true"></app-royalties-table>
  </ng-template>
  
</app-paginated-table>