<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5>Add New Earning</h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmitEarning()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Release</label>
                <select class="form-control" [(ngModel)]="newEarningForm.release_id" name="release_id" required>
                  <option value="">Select a release</option>
                  <option *ngFor="let release of releases" [value]="release.id">
                    {{ formatReleaseOption(release) }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Date Recorded</label>
                <input type="date" class="form-control" [(ngModel)]="newEarningForm.date_recorded" name="date_recorded" required>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" [(ngModel)]="newEarningForm.description" name="description" rows="3" placeholder="Enter earning description" required></textarea>
          </div>
          
          <div class="form-group">
            <label>Amount (PHP)</label>
            <input type="number" class="form-control" [(ngModel)]="newEarningForm.amount" name="amount" min="0" step="0.01" placeholder="0.00" required>
          </div>
          
          <div class="form-group">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" [(ngModel)]="newEarningForm.calculate_royalties" name="calculate_royalties" id="calculateRoyalties">
              <label class="form-check-label" for="calculateRoyalties">
                Calculate royalties automatically based on artist percentages
              </label>
            </div>
            <small class="form-text text-muted">
              When checked, this will automatically create royalty entries for all artists associated with the selected release based on their configured royalty percentages.
            </small>
          </div>
          
          <div class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="isLoading">
              <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>
              <i class="fa fa-plus" *ngIf="!isLoading"></i>
              {{ isLoading ? 'Adding...' : 'Add Earning' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>