<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5>Add New Earning</h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmitEarning()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Release ID</label>
                <input type="text" class="form-control" [(ngModel)]="newEarningForm.release_id" name="release_id" placeholder="Enter release ID">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Date Recorded</label>
                <input type="date" class="form-control" [(ngModel)]="newEarningForm.date_recorded" name="date_recorded" required>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" [(ngModel)]="newEarningForm.description" name="description" rows="3" placeholder="Enter earning description" required></textarea>
          </div>
          
          <div class="form-group">
            <label>Amount (PHP)</label>
            <input type="number" class="form-control" [(ngModel)]="newEarningForm.amount" name="amount" min="0" step="0.01" placeholder="0.00" required>
          </div>
          
          <div class="text-right">
            <button type="submit" class="btn btn-success">
              <i class="fa fa-plus"></i> Add Earning
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>