.add-new-artist {
  padding-bottom: 100px;
}

.current-photo {
  text-align: center;
  margin-bottom: 20px;
  
  .current-photo-img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 8px;
    object-fit: cover;
  }
}