.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar[data-color="blue"] {
  background-image: linear-gradient(to bottom, #4c84ff, #4c84ff);
}

.sidebar-wrapper {
  position: relative;
  max-height: none;
  min-height: 100vh;
  overflow: auto;
  width: 100%;
  z-index: 4;
}

.logo {
  position: relative;
  padding: 15px 0;
  z-index: 4;
  text-align: center;
}

.logo .simple-text {
  text-decoration: none;
  color: #fff;
}

.nav {
  margin-top: 15px;
  list-style: none;
  padding: 0;
}

.nav li {
  position: relative;
  display: block;
  width: 100%;
}

.nav li.active {
  background: rgba(255, 255, 255, 0.13);
}

.nav li a {
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #fff;
  display: block;
  text-decoration: none;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 30px;
  opacity: 0.7;
  position: relative;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.nav li a:hover {
  opacity: 1;
}

.nav li a i {
  font-size: 24px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}

.nav li a p {
  margin: 0;
  line-height: 30px;
  font-size: 12px;
  height: 30px;
  color: #fff;
}

.nav li.active a,
.nav li a:hover {
  background: rgba(255, 255, 255, 0.23);
  opacity: 1;
}

.nav li.active a i,
.nav li a:hover i {
  color: #fff;
}