<div class="card">
  <div class="card-header">
    <h5>Top earning releases (all-time)</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Cover</th>
            <th>Catalog Number</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Total earnings</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let release of releases">
            <td class="cover-cell">
              <img [src]="getCoverArtUrl(release.cover_art)" 
                   [alt]="release.title + ' cover'"
                   class="cover-thumbnail">
            </td>
            <td class="catalog-cell">
              <span class="catalog-number">{{ release.catalog_no }}</span>
            </td>
            <td>{{ release.artist_name }}</td>
            <td class="title-cell">
              <div class="release-title">{{ release.title }}</div>
            </td>
            <td class="text-right" [ngClass]="getAmountClass(release.total_earnings)">{{ formatCurrency(release.total_earnings) }}</td>
          </tr>
          <tr *ngIf="releases.length === 0">
            <td colspan="5" class="text-center text-muted">No earnings data found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-right">
    <a (click)="goToFinancial()" class="btn-link" style="cursor: pointer;">
      Go to release earnings <i class="far fa-arrow-alt-circle-right"></i>
    </a>
  </div>
</div>