<!-- Date Range Filter -->
<div class="row tw-mb-3 tw-grid tw-grid-cols-1">
  <div class="col-md-12 md:tw-col-span-12">
    <app-date-range-filter 
      [compact]="true"
      [loading]="loading"
      (dateRangeChange)="onDateRangeChange($event)"
      (refresh)="onRefresh()">
    </app-date-range-filter>
  </div>
</div>

<app-paginated-table
  title="Earnings History"
  [data]="earnings"
  [pagination]="pagination"
  [loading]="loading"
  [columns]="earningsColumns"
  [showSortableHeaders]="true"
  [sortInfo]="earningsSort"
  [responsiveMode]="'financial'"
  [headerActions]="headerActions"
  (pageChange)="onPageChange($event)"
  (filtersChange)="filtersChange.emit($event)"
  (sortChange)="sortChange.emit($event)">
</app-paginated-table>