<p align="center"><img src="%LOGO%" width="200"></p>
<h1 align="center">New payment method added for <b>%ARTIST_NAME%</b>.</h1>
<p>This is to inform you that a new payment method has been added for your artist team.<br>
Payments from %BRAND% will be directed to this new payment method from now on.<br>
</p>
<h4>
The following are the details of the new payment method added:
</h4>

<table>
    <tr><strong>Bank name</strong><td>%BANK_NAME%</td></tr>
    <tr><strong>Account name</strong><td>%ACCOUNT_NAME%</td></tr>
    <tr><strong>Account number</strong><td>%ACCOUNT_NUMBER%</td></tr>
    <tr><strong>Change made by </strong><td>%MEMBER_NAME%</td></tr>
</table>

<p><strong>IMPORTANT: </strong>If this change is unauthorized, please inform your administrator as soon as possible to avoid payments made to the wrong account.<br></p>
<a href="%LINK%"><button>Go to dashboard.</button></a>
<p><em>Please do not reply to this e-mail. If you do not know why you are getting this request, please inform your administrator.</em></p>