<p align="center"><img src="%LOGO%" width="200"></p>
<h1 align="center">New earnings reported for %ARTIST_NAME% - %RELEASE_TITLE%.</h1>
<p>Here are the details of the earnings:</p>
<table>
    <tr><td>Description</td><td>%EARNING_DESC%</td>
    <tr><td>Total earnings</td><td>P %EARNING_AMOUNT%</td></tr>
    <tr><td>Recuperated expense</td><td>P %RECUPERATED_EXPENSE%</td></tr>
    <tr><td>Remaining recuperable expense</td><td>P %RECUPERABLE_BALANCE%</td></tr>
    <tr><td>Royalties you've earned</td><td>P %ROYALTY%</td></tr>

</table>
<a href="%URL%"><button>Go to dashboard.</button></a>
<p><em>Please do not reply to this e-mail. If you do not know why you are getting this request, please ignore this e-mail.</em></p>