<h3><strong>%BRAND_NAME% Tickets</strong></h3>
<p>Hello, %NAME%,</p>
<h1>Thank you for your order!</h1>

<p>We have reserved %NO_OF_ENTRIES% ticket(s) for you to <strong>%EVENT_NAME%</strong>!<br>
To complete your order, please click on the link below to pay for your ticket.
</p>


<a href="%PAYMENT_LINK%"><button style="background-color:#eeeeee;border:0px;border-radius:10px;padding:20px;font-weight:bold;font-size:14px;">Pay P%PAYMENT_AMOUNT%</button></a>
<p>&nbsp;</p>

<p>This is not a ticket. You will receive your official ticket within 24 hours of completing your payment.</p>


