<h3><strong>%BRAND_NAME% Tickets</strong></h3>

<h1>Thank you for your order!</h1>

<p>Here&#39;s your official ticket to <strong>%EVENT_NAME%</strong>!</p>

<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
	<tbody>
		<tr>
			<td style="background-color:#eeeeee;">
			<p style="text-align:center"><strong>Name: %NAME%</strong></p>

			<h1 style="text-align:center"><strong>%TICKET_CODE%</strong></h1>

			<h2 style="text-align:center">Admit <strong>%NO_OF_ENTRIES%</strong>&nbsp;person(s).</h2>
			</td>
		</tr>
	</tbody>
</table>
<p>&nbsp;</p>

<h3><strong>Click <a href="%RSVP_LINK%">here</a> to RSVP to the event and get updates.</strong></h3>

<p>Please show this ticket at the gate to gain admission to the event. Tickets are non-refundable. If you want to change the name for this ticket, please reply to this email detailing your request.</p>


