<p align="center"><img src="%LOGO%" width="200"></p>
<h2 align="center">Thank you for your order.</h1>
<p>Here's your official ticket to %EVENT_NAME%!</p>
<h2 align="center">%NAME%</h2>
<h1 align="center">%TICKET_CODE%</h1>
<h2 align="center">Admit %NO_OF_ENTRIES% person(s).</h2>
<p>Please show this ticket at the gate to gain admission to the event. Tickets are non-refundable. If you want to change the name, please reply to this email with your request.</p>
<a href="%LINK%"><button>RSVP to get updates.</button></a>
<p><em>Please do not reply to this e-mail. If you do not know why you are getting this email, please ignore it or notify your dashboard admin.</em></p>