<p align="center"><img src="%LOGO%" width="200"></p>
<h1 align="center">New payment posted for %ARTIST%.</h1>
<p>A new payment of has been posted to your account for "%DESCRIPTION%".</p>
<p>Below are the details of the payment:</p>
<p>
    <strong>Amount paid: </strong> %AMOUNT%<br>
    <strong>Processing fee: </strong>-%PROCESSING_FEE%<br>
    <strong>You receive: </strong>%NET_AMOUNT%
</p>
<a href="%URL%"><button>Go to dashboard.</button></a>
<p><em>Please do not reply to this e-mail. If you do not know why you are getting this request, please ignore this e-mail.</em></p>